/* UPDATE */
/*
# Fonts
    -Nav links
    -CTA links
    -Tagline
    -Story title
    -Event date
    -Event title
*/

/* General styles */
/* These can be removed */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: proxima-nova, sans-serif;
}

a {
    background-color: transparent;
    color: #8a6e4b;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.6s ease;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.375rem 1.5rem;
    background-color: #8a6e4b;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;

    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.3s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* End of general styles */
/* REMOVE ^ */

/* Main */
.home-main {
    background-color: #282829;
    color: #fff;
    font-family: proxima-nova, sans-serif;
    font-size: 16px;
    line-height: normal;
}

.home-main img {
    margin-bottom: 0;
}

/* Nav and media section */
.home-section-nav-media {
    position: relative;
}

.home-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.home-nav-items {
    display: flex;
    align-items: center;
    gap: 24px;
    width: 100%;
}

.home-nav-link.right {
    margin-left: auto;
}

.home-mobile-menu {
    display: none;
    background: transparent;
    border: none;
    outline: none;
}

.home-mobile-menu .icon-bar {
    display: block;
    width: 30px;
    height: 3px;
    background-color: #fff;
    border-radius: 1px;
    opacity: 1;
    transition: all 0.6s ease;
}

.home-mobile-menu .icon-bar + .icon-bar {
    margin-top: 5px;
}

.navbar-toggle.open .icon-bar:nth-of-type(1) {
    transform: rotate(45deg);
}

.navbar-toggle.open .icon-bar:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggle.open .icon-bar:nth-of-type(3) {
    transform: rotate(-45deg);
}

.home-nav-logo {
    width: 160px;
}

.home-nav-link a {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.home-nav-icon {
    width: 16px;
}

/* SEARCH - Search modal */
.search-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.15);
    backdrop-filter: blur(5px);
}

.search-modal.open {
    display: flex;
}

.search-modal-body {
    width: min(1200px, 90vw);
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
}

button.close-modal {
    display: block;
    margin-bottom: 15px;
    padding: 0;
    background-color: transparent;
    color: #8a6e4b;
    font-size: 50px;
    line-height: 0.5;
    border: none;
    outline: none;
    cursor: pointer;
}

button.close-modal:hover {
    color: #676767;
}

/* SEARCH - Search input */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    background-color: #eceded;
    color: #78787b;
    border-radius: 50px;
}

.search-input {
    flex: 1;
    max-width: 100%;
    background-color: #eceded;
    border: none;
    outline: none;
}

.search-icon-clear {
    width: 14px;
    cursor: pointer;
}

.search-icon-submit {
    width: 16px;
    height: 16px;
    background: url('./images/icons/search-dark.png');
    background-size: cover;
    text-indent: -9999px;
    border: none;
    outline: none;
    cursor: pointer;
}

input[type='search']::-webkit-search-cancel-button {
    display: none;
}

/* SEARCH - Popular Searches */
.popular-search {
    padding: 20px;
}

.popular-search-items {
    padding-right: 10px;
}

.popular-search-items::-webkit-scrollbar {
    width: 10px;
}
.popular-search-items::-webkit-scrollbar-track {
    background: #d5d7d8;
    border-radius: 20px;
}

.popular-search-items::-webkit-scrollbar-thumb {
    background: #676767;
    border-radius: 20px;
}

.popular-search-items::-webkit-scrollbar-thumb:hover {
    background: #8a6e4b;
}

.popular-search h2 {
    color: #8a6e4b;
}

.popular-search-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(300px, 100%), 1fr));
    gap: 30px;
    max-height: 240px;
    overflow-y: scroll;
}

.popular-search-item {
    display: flex;
    align-items: center;
    gap: 15px;
    border-radius: 50px;
}
.popular-search-item:hover {
    background-color: #eeeeee;
}

.popular-search-item img {
    width: 50px;
    border-radius: 50%;
}

.popular-search-title {
    color: #282829;
    font-weight: bold;
    font-size: 20px;
}

/* Media background */
.home-media-container {
    opacity: 0.75;
    z-index: -10;
}

.home-media-container img,
.home-media-container video {
    width: 100%;
}

/* CTA section */
.home-section-cta {
    padding: 40px;
}

.cta-container {
    width: 90%;
    margin: 0 auto;
}

.cta-items {
    display: flex;
}

.cta-item {
    padding-bottom: 40px;
    border-bottom: solid 2px #6d6d6d;
}

.cta-item:nth-of-type(2) {
    padding-left: 20px;
    padding-right: 20px;
}

.cta-item:hover {
    border-bottom-color: #8a6e4b;
}

.cta-item a {
    display: block;
    color: #fff;
    font-weight: normal;
}

.cta-item-text {
    margin-bottom: 8px;
}

.cta-item-link {
    font-size: 24px;
    text-transform: uppercase;
}

/* Tagline section */
.home-section-tagline {
    padding: 48px 30px;
}

.tagline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline-heading {
    margin-bottom: 5px;
    font-family: serif;
    font-size: 24px;
}

.tagline-subtitle {
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
}

/* News stories section */
.home-section-news {
    padding: 48px 0;
    overflow: hidden;
}

.news-stories {
    display: flex;
    position: relative;
}

.news-stories .arrow {
    position: absolute;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);
}

.news-stories .prev-arrow {
    left: 5%;
}

.news-stories .next-arrow {
    right: 5%;
}

.news-story {
    position: relative;
}

.news-story.prev {
    transform: translateX(-30%);
}

.news-story.next {
    transform: translateX(30%);
}

.news-story.prev img,
.news-story.next img {
    opacity: 0.25;
}

.news-story.current img {
    opacity: 0.6;
}

.news-story.current .story-body {
    width: 80%;
    position: absolute;
    bottom: 32px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
}

.news-story.current .story-title {
    margin-bottom: 8px;
    font-size: 20px;
    text-transform: uppercase;
}

/* News archive section */
.home-section-news-archive {
    padding: 0 30px 48px;
}

.news-archive-text {
    font-size: 18px;
    text-align: center;
}

/* Give section */
.home-section-give {
    padding: 48px 30px;
    background-color: #c3b9a8;
    text-align: center;
}

.give-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #282829;
    font-size: 18px;
}

.btn-dark {
    background-color: #282829;
}

.btn-dark:hover {
    background-color: #8a6e4b;
}

/* Upcoming events section */
.home-section-events {
    padding: 144px 80px;
    background-color: #ece8e2;
}

.events-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 45px 75px;
    width: 90%;
    margin: 0 auto;
    color: #282829;
}

.upcoming-events-heading {
    margin-bottom: 16px;
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
}

.events {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, auto));
    justify-content: center;
    align-items: center;
    gap: 30px 20px;
}

.event-date {
    margin-bottom: 12px;
    font-size: 20px;
    text-transform: uppercase;
}

.event-title {
    margin-bottom: 12px;
    font-size: 24px;
    text-transform: uppercase;
}

.event-link a {
    font-weight: normal;
    text-decoration: underline;
}

/* Social media section */
.home-section-social {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.instafeed-image {
    display: block;
}

.social-links-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #8a6e4b;
}

.social-text {
    font-size: 18px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-link {
    display: block;
    width: 45px;
}

/* Media queries */
@media (max-width: 1150px) {
    .home-section-social {
        grid-template-columns: repeat(5, 1fr);
    }

    .social-links-container {
        grid-column: span 5;
        padding: 48px 10px;
    }
}

@media (max-width: 950px) {
    .cta-items {
        flex-direction: column;
    }

    .cta-item {
        margin-bottom: 20px;
        padding-bottom: 20px;
        border-bottom: solid 2px #6d6d6d;
    }

    .cta-item:nth-of-type(2) {
        padding-left: 0;
        padding-right: 0;
    }

    .home-section-events {
        padding: 144px 30px;
    }
}

@media (max-width: 860px) {
    .home-nav-items {
        justify-content: space-between;
    }

    .home-mobile-menu {
        display: block;
    }

    .home-nav-logo {
        width: 100px;
    }

    .home-nav-link {
        display: none;
    }

    .news-stories {
        display: block;
    }

    .news-story.prev,
    .news-story.next {
        display: none;
    }

    .news-story.current img {
        width: 100%;
    }

    .home-section-social {
        grid-template-columns: repeat(3, 1fr);
    }

    .social-links-container {
        grid-column: span 1;
    }
}

@media (max-width: 750px) {
    .events-container {
        flex-direction: column;
        align-items: start;
    }

    .events {
        grid-template-columns: 1fr;
        align-items: start;
    }

    .home-section-social {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 650px) {
    .give-container {
        flex-direction: column;
    }
}

@media (max-width: 550px) {
    .cta-item-text {
        font-size: 15px;
    }

    .cta-item-link {
        font-size: 20px;
    }

    .tagline-heading {
        font-size: 18px;
    }

    .tagline-subtitle {
        font-size: 21px;
    }

    .event-title {
        font-size: 20px;
    }

    .home-section-social {
        grid-template-columns: 1fr;
    }

    .social-text {
        font-size: 16px;
    }

    .social-link {
        width: 35px;
    }
}

@media (max-width: 400px) {
    .search-modal-body {
        padding: 20px 10px;
    }

    .search-container {
        justify-content: space-between;
    }

    .search-input {
        flex: 0;
    }

    .search-container > div,
    .search-icon-clear {
        display: none;
    }

    .popular-search {
        padding: 20px 0;
    }

    .popular-search-item img {
        width: 30px;
    }

    .popular-search-title {
        font-size: 16px;
    }

    .cta-container {
        width: 95%;
    }
}

@media (max-width: 280px) {
    .search-icon-submit {
        display: none;
    }

    .upcoming-events-heading {
        font-size: 28px;
    }
}
