/* UPDATE */
/*
# Fonts
    -Nav links
    -CTA links
    -Tagline
    -Story title
    -Event date
    -Event title
*/

/* General styles */
/* These can be removed */
*,
::before,
::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: proxima-nova, sans-serif;
}

a {
    background-color: transparent;
    color: #8a6e4b;
    font-weight: bold;
    text-decoration: none;
    transition: all 0.6s ease;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    padding: 0.375rem 1.5rem;
    background-color: #8a6e4b;
    color: #fff;
    border: 1px solid transparent;
    border-radius: 50px;
    -webkit-border-radius: 50px;

    font-size: 0.9rem;
    font-weight: bold;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;

    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: color 0.15s ease-in-out, background-color 0.3s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
/* End of general styles */
/* REMOVE ^ */

/* Main */
.home-main {
    background-color: #282829;
    color: #fff;
    font-size: 16px;
    line-height: normal;
}

/* Nav and Video */
.home-section-nav-video {
    position: relative;
}

.home-header {
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 20;
}

.home-nav {
    display: flex;
    justify-content: space-between;
    padding: 40px;
}

.home-nav-items {
    display: flex;
    align-items: center;
    gap: 24px;
}

.home-nav-items.right {
    gap: 16px;
}

.home-nav-logo {
    width: 160px;
}

.home-nav-link a {
    color: #fff;
    font-weight: normal;
    text-transform: uppercase;
}

.home-nav-icon {
    width: 16px;
}

.home-media-container {
    opacity: 0.75;
    z-index: -10;
}

.home-media-container img,
.home-media-container video {
    width: 100%;
}

/* CTA section */
.home-section-cta {
    padding: 40px 80px;
}

.cta-container {
    width: 90%;
    margin: 0 auto;
}

.cta-items {
    display: flex;
    justify-content: space-between;
}

.cta-item {
    flex: 1;
    padding-bottom: 40px;
    border-bottom: solid 2px #6d6d6d;
}

.cta-item:nth-of-type(2) {
    padding-left: 15px;
    padding-right: 15px;
}

.cta-item:hover {
    border-bottom-color: #8a6e4b;
}

.cta-item a {
    display: block;
    color: #fff;
    font-weight: normal;
}

.cta-item-text {
    margin-bottom: 8px;
}

.cta-item-link {
    font-size: 24px;
    text-transform: uppercase;
}

/* Tagline section */
.home-section-tagline {
    padding: 48px 0;
}

.tagline-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.tagline-heading {
    margin-bottom: 5px;
    font-family: serif;
    font-size: 24px;
}

.tagline-subtitle {
    font-size: 28px;
    text-transform: uppercase;
}

/* News stories section */
.home-section-news {
    display: flex;
    padding: 48px 0;
    overflow: hidden;
}

.news-story {
    position: relative;
}

.news-story.prev {
    transform: translateX(-160px);
}

.news-story.next {
    transform: translateX(160px);
}

.news-story img {
    opacity: 0.25;
}

.news-story.current img {
    opacity: 0.6;
}

.news-story .arrow {
    position: absolute;
    top: 50%;
    font-size: 30px;
    cursor: pointer;
    transform: translateY(-50%);
}

.news-story.prev .arrow {
    left: 192px;
}

.news-story.next .arrow {
    right: 192px;
}

.news-story.current .story-body {
    position: absolute;
    bottom: 32px;
    left: 50%;
    padding: 16px;
    border-radius: 6px;
    text-align: center;
    transform: translateX(-50%);
}

.news-story.current .story-title {
    margin-bottom: 8px;
    font-size: 20px;
    text-transform: uppercase;
}

/* News archive section */
.home-section-news-archive {
    padding-bottom: 48px;
}

.news-archive-text {
    font-size: 18px;
    text-align: center;
}

/* Give section */
.home-section-give {
    padding: 32px 0;
    background-color: #c3b9a8;
}

.give-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 100%;
    color: #282829;
    font-size: 18px;
}

.btn-dark {
    background-color: #282829;
}

.btn-dark:hover {
    background-color: #8a6e4b;
}

/* Upcoming events section */
.home-section-events {
    padding: 144px 80px;
    background-color: #ece8e2;
}

.events-container {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: 0 auto;
    color: #282829;
}

.upcoming-events {
    padding-right: 30px;
}

.upcoming-events-heading {
    font-size: 38px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 16px;
}

.events {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.event-item {
    flex: 1;
}

.event-date {
    margin-bottom: 12px;
    font-size: 20px;
    text-transform: uppercase;
}

.event-title {
    margin-bottom: 12px;
    font-size: 24px;
    text-transform: uppercase;
}

.event-link a {
    font-weight: normal;
    text-decoration: underline;
}

/* Social media section */
.home-section-social {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
}

.instafeed-image {
    display: block;
}

.social-links-container {
    grid-column: span 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    background-color: #8a6e4b;
}

.social-text {
    font-size: 18px;
}

.social-links {
    display: flex;
    gap: 10px;
}

.social-link {
    display: block;
    width: 45px;
}
